body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  background-color: #ffffff;
}

.button {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo:focus,
.header-logo:hover {
  color: #404bbf;
}
.logo-studio {
  color: #2e2f42;
}

.nav-link {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
#studio:hover {
  text-decoration: underline;
}
#studio:focus {
  text-decoration: underline;
}
.address {
  text-decoration: none;
  color: #434455;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-style: normal;
}

.address .mailto,
.address .tel {
  color: #2e2f42;
}

.address .mailto:hover,
.address .mailto:focus,
.address .tel:hover,
.address .tel:focus {
  color: #404bbf;
}
ul {
  list-style-type: none;
}
/*section1*/
.main {
  background-color: #2e2f42;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
}
h3 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*section2*/
.advantages {
  font-weight: 500;
  color: #2e2f42;
}
/*section3*/
.team {
  background-color: #f4f4fd;
}
.team-title {
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-list {
  background-color: #ffffff;
}

.team-list {
  font-weight: 500;
  color: #2e2f42;
}
.team-list-item {
  font-size: 16px;
}
/*section4*/
.portfolio {
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolio-list {
  font-weight: 500;
}
.portfolio-list-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*footer*/
.footer {
  background-color: #2e2f42;
}
.footer-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-studio {
  color: #f4f4fd;
}
.footer-paragraph {
  line-height: 1.5;
  color: #f4f4fd;
}
