body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  background-color: #ffffff;
}

.button {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

.header-logo {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.header-logo:focus,
.header-logo:hover {
  color: #404bbf;
}
.logo-web {
  color: #4d5ae5;
}

.nav-link {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
#studio:hover {
  text-decoration: underline;
}
#studio:focus {
  text-decoration: underline;
}
.address {
  color: #434455;
  text-decoration: none;
}
.address:hover,
.adress:focus {
  color: #404bbf;
}
ul {
  list-style-type: none;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
}
h3 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
